body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}



/*Background Image*/

.big-image {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-position: 50% 50%;
    background-size: cover;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.1);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

    .overlay h1 {
        font-size: 65px;
        letter-spacing: 2px;
        margin: 0 0 5px;
    }

    .overlay p {
        margin: 0;
        font-size: 26px;
    }

/* BUTTONS */
.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #f78d70;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #f78d70;
    background-color: white;
    border-radius: 20px;
    display: inline-block;
}

    .btn:hover {
        cursor: pointer;
        box-shadow: 0 0.4rem 1.4rem 0 #f78d70;
        transform: translateY(-0.1rem);
        transition: transform 150ms;
    }

    .btn[disabled]:hover {
        cursor: not-allowed;
        box-shadow: none;
        transform: none;
    }
