body {
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 300;
    background: #fdf7f8;
}

h1,
h2,
h3,
h4 {
    margin-bottom: 1rem;
}

h1 {
    font-size: 5.4rem;
    color: #f78d70;
    margin-bottom: 5rem;
    margin-left: 5rem;
    text-align: center;
}

    h1 > span {
        font-size: 2.4rem;
        font-weight: 500;
    }

h2 {
    font-size: 4.2rem;
    margin-bottom: 4rem;
    font-weight: 700;
}

h3 {
    font-size: 1.8rem;
    font-weight: 500;
}

label {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
    display: inline-block;
    text-align: center;
    width: 150px;
}

/* UTILITIES */
.containerInfo {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 80rem;
    margin: 0 auto;
    padding: 2rem;
}

    .containerInfo > * {
        width: 100%;
    }

.flex-column {
    display: flex;
    flex-direction: column;
    flex: 50%;
    padding: 10px;
    height: 300px;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-row {
    display: flex;
}

/* BUTTONS */
.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align: center;
    border: 0.1rem solid #f78d70;
    margin-bottom: 1rem;
    text-decoration: none;
    color: #f78d70;
    background-color: white;
    border-radius: 20px;
    display: inline-block;
}

    .btn:hover {
        cursor: pointer;
        box-shadow: 0 0.4rem 1.4rem 0 #f78d70;
        transform: translateY(-0.1rem);
        transition: transform 150ms;
    }

    .btn[disabled]:hover {
        cursor: not-allowed;
        box-shadow: none;
        transform: none;
    }

input {
    margin-bottom: 3rem;
    width: 20rem;
    padding: 1.5rem;
    font-size: 1.8rem;
    border: none;
    box-shadow: 0 0.1rem 1.4rem 0 #f78d70;
    display: inline-block;
}

    input::placeholder {
        color: #aaa;
    }
